<div class="mt-1 card divwidth">
  <h4 class="card-header">Client Related Services</h4>
  <div class="card-body">
    <button type="button" class="btn btn-info" routerLink ="/clientregistration">Register Client</button>
    <button type="button" class="btn btn-info" routerLink ="/client-searchforall">Find A Client's Summary</button>
  </div>
</div>


<div class="mt-1 card divwidth">
  <h4 class="card-header">All Reports</h4>
  <div class="card-body">
    <button type="button" class="btn btn-info" routerLink = "/namereport">Find Record using Name, File Ref and FE</button>
    <button type="button" class="btn btn-info" routerLink = "/datereport">Find Record using Start Date and DOB</button>
    <button type="button" class="btn btn-info" routerLink = "/betweendatereport">Find Record using Between Date</button>
    <button type="button" class="btn btn-info" routerLink = "/categoryreport">Find Record using Category</button>
    <button type="button" class="btn btn-info" routerLink = "/categoryfereport">Find Record using Category and FE</button>
  </div>
</div>

<div class = "text-center divwidth">
  <a routerLink ="/dashboard" (click)= "goToTheTop()"> Go to the top</a>
</div>
