<h3 class="mt-2 p-3 text-center bg-success text-white">All Case Records</h3>
<div class="mt-1 container table-responsive full-height">
  <table class="mt-1 table-bordered tableFormatter center oddrowcolor">
    <thead>
      <tr>
          <th>Case Id</th>
          <th>Title</th>
          <th>Case Description</th>
          <th>Status</th>
          <th>Due Date and Time</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cs of caseList">
        <td>{{cs.caseId}}</td>
        <td>{{cs.title}}</td>
        <td>{{cs.description}}</td>
        <td>{{cs.status}}</td>
        <td>{{globalService.convertArrayToDate(cs.dueDateTime) | date: 'dd/MM/yyy HH:mm' }}</td>
        <td><button (click)="viewCaseById(cs.caseId)" class="btn btn-success">View</button></td>
        <td><button (click)="editCaseById(cs.caseId)" class="btn btn-primary">Edit</button></td>
        <td><button (click)="deleteCaseById(cs.caseId)" class="btn btn-danger">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>

<div class = "mt-2 text-center">
  <a routerLink ="" (click)= "goToTheTop()"> Go to the top</a>
</div>