<div class="mt-1">
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">

      <div><span class="navbar-brand">Case Management Systems</span></div>

      <ul class="navbar-nav">
        <li><a routerLink="/dashboard" class="nav-link">Dashboard</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end">
        <li><a routerLink="/create-case" class="nav-link fw-bold text-info ">Create Case</a></li>
      </ul>

    </nav>
  </header>
</div>
