<div class="mt-1 card" style="width: 50%; margin: auto">
    <h3 class="p-3 text-center bg-success text-white">Case Details</h3>
    <div class="card-body">
        <form [formGroup]="form">

            <div class="form-group">
                <label for="caseId"> Case Id</label>
                <input type="text" formControlName="caseId" [(ngModel)]="caseId" [readonly]="true"
                    class="form-control" />
            </div>

            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" [(ngModel)]="title" class="form-control" />
            </div>

            <div class="form-group">
                <label for="description">Case Desccription</label>
                <textarea rows="4" formControlName="description" [(ngModel)]="description"
                    class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="status">Case Status</label>
                <input type="text" formControlName="status" [(ngModel)]="status" class="form-control" />
            </div>

            <div class="form-group">
                <label for="dueDateTime">Due Date and Time</label>
                <input type="text" bsDatepicker
                    [bsConfig]="{dateInputFormat: 'DD/MM/YYYY HH:mm', showWeekNumbers: false}"
                    formControlName="dueDateTime" [(ngModel)]="dueDateTime" class="form-control" />
            </div>

        </form>
    </div>
</div>

<div class="mt-2 text-center">
    <a routerLink="" (click)="goToDashBoard()"> Go to the Dashboard</a>
</div>