<div class="mt-1 card" style="width: 50%; margin: auto">
    <h3 class="p-3 text-center bg-success text-white">Update Case Details</h3>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="updateCaseDetails()" autocomplete="off">

            <div class="form-group">
                <label for="caseId"> Case Id</label>
                <input type="text" formControlName="caseId" [(ngModel)]="caseId" [readonly]="true"
                    class="form-control" />
            </div>

            <div class="form-group">
                <label for="status"> Case Status <span>(*)</span></label>
                <input type="text" formControlName="status" [(ngModel)]="status" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
                <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                    <div *ngIf="f.status.errors.required">Status is required</div>
                </div>
            </div>

            <div class="form-group d-flex justify-content-center mt-3">
                <button class="btn btn-primary">Update</button>
            </div>

        </form>
    </div>
</div>