<div class="mt-1 card" style="width: 50%; margin: auto">
  <h4 class="card-header">Create Case</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="createCaseDetails()">

      <div class="form-group">
        <label for="title"> Title <span>(*)</span></label>
        <input type="text" formControlName="title" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="description">Case Desccription</label>
        <textarea rows="4" formControlName="description" class="form-control"></textarea>
      </div>

        <div class="form-group">
        <label for="status"> Case Status <span>(*)</span></label>
        <input type="text" formControlName="status" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.status.errors }" />
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div *ngIf="f.status.errors.required">Status is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="dueDateTime">Due Date and Time <span>(*)</span></label>
        <input type="text" bsDatepicker [bsConfig]="{dateInputFormat: 'DD/MM/YYYY HH:mm', showWeekNumbers: false}" placeholder="dd/mm/yyyy hh:mm"
          formControlName="dueDateTime" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.dueDateTime.errors }" />
        <div *ngIf="submitted && f.dueDateTime.errors" class="invalid-feedback">
          <div *ngIf="f.dueDateTime.errors.required">Due date and time is required</div>
        </div>
      </div>

      
      <div class="form-group">
        <button class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
